{% extends 'base.html.twig' %}

{% block title %}Search{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row mb-3">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        {{ form_start(form) }}
                        {{ form_row(form.query) }}
                        {{ form_row(form.category) }}
                        {{ form_row(form.createdThisMonth) }}
                        <button class="btn btn-primary" id="submit">Submit</button>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% if pagination is not empty %}
                    <h1>Search Results ({{ pagination.totalItemCount }})</h1>
                    <hr>

                    <ul class="list-group my-4">
                        {% for item in pagination %}
                            <li class="list-group-item list-group-item-action">{{ item.title }} ({{ item.category }})</li>
                        {% endfor %}
                    </ul>

                    {{ knp_pagination_render(pagination, null, {}, {
                        'align': 'center',
                    }) }}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
